body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("imagens/estacao.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 40px;
    text-shadow: 0 0 20px #00ffff;
    position: relative;
    z-index: 2;
}

.mesa {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 2;
}

.planeta {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(0, 255, 255, 0.3);
    border: 2px solid #00ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.planeta:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #00ffff;
}
